<html>

<head>
<title>Title</title>
</head>

<body>

<p>한글로 쓰지도 않고 한글로 쓰고 있ㄴ</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
